.background {
  width: 100%;
  height: 1024px;

  background-color: rgba(217, 217, 217, 1);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
}

.filter {
  width: 902px;
  height: 80%;

}

.find-choice-button {
  width: 100%;
  height: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(255, 255, 255, 1);
}


.choice-left-button {
  width: 451px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 1000;
  line-height: 26px; /* 86.667% */
}

.choice-left-button:hover {
  cursor:pointer;
  background-position: right;

  background-color: rgba(185, 185, 185, 1);
}

.choice-right-button {
  width: 451px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 1000;
  line-height: 26px; /* 86.667% */
}

.choice-right-button:hover {
  cursor:pointer;
  background-position: right;

  background-color: rgba(185, 185, 185, 1);
}

.si-gun-dong {
  height: 60px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: rgba(217, 217, 217, 1);
  margin: 10px 0;
  padding: 10px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.si {
  display: flex;
  padding: 11px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 1000;
}

.si-check {
  display: flex;
  padding: 20px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 1000;

  background-color: rgba(185, 185, 185, 1);
}

.si-complete {
  display: flex;
  padding: 20px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 1000;
}

.si-complete:hover {
  cursor:pointer;
  background-position: right;

  background-color: rgba(185, 185, 185, 1);
}

.gun {
  display: flex;
  padding: 11px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 1000;
}

.gun-chenk {
  display: flex;
  padding: 20px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 1000;

  background-color: rgba(185, 185, 185, 1);
}

.gun-complete {
  display: flex;
  padding: 20px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 1000;
}

.gun-complete:hover {
  cursor:pointer;
  background-position: right;

  background-color: rgba(185, 185, 185, 1);
}

.dong {
  display: flex;
  padding: 11px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 1000;
}

.dong-chenk {
  display: flex;
  padding: 20px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 1000;

  background-color: rgba(185, 185, 185, 1);
}

.dong-complete {
  display: flex;
  padding: 20px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 1000;
}

.dong-complete:hover {
  cursor:pointer;
  background-position: right;

  background-color: rgba(185, 185, 185, 1);
}

.choice-fliter {
  height: 648px;
}

.filtering-three {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 54px;
  flex-shrink: 0;

  display: flex;
  justify-content: space-between;

  background-color: rgba(255, 255, 255, 1);
}

.filtering-two {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  width: 66.7%;
  height: 54px;
  flex-shrink: 0;

  display: flex;
  justify-content: space-between;

  background-color: rgba(255, 255, 255, 1);
}



.filtering-box-three {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}


.filtering-box-three:hover {
  box-shadow: 0 0 0 3px rgba(0, 81, 255);
}




.filtering-box-two {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.filtering-box-two:hover {
  background-position: right;

  background-color: rgba(185, 185, 185, 1);
}

.filtering-one {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  width: 33.3%;
  height: 54px;
  flex-shrink: 0;

  display: flex;
  justify-content: center;

  background-color: rgba(255, 255, 255, 1);
}

.filtering-box-one {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.filtering-box-one:hover {
  background-position: right;

  background-color: rgba(185, 185, 185, 1);
}

.final-box-three {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.final-box-three:hover {
  box-shadow: 0 0 0 3px rgba(0, 81, 255);
}

.final-box-three:active {
  background-color: rgba(185, 185, 185, 1);
}

.Gap {
  width: 100%;
  height: 10px;
}



.Check {
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.Checkbutton {
  display: flex;
  justify-content: center;
  align-items: center;

  
  width: 150px;
  height: 35px;

  background: linear-gradient(125deg,#000000,#7b7b7b,#000000);
  background-position: left;
  background-size: 200%;
  color:white;
  font-weight: bold;
  border:none;
  cursor:pointer;
  transition: 0.4s;

  border-radius: 30px;

  font-weight: 500;
}

.Checkbutton:hover {
  background-position: right;
}

.Checkbutton-clicked {
  box-shadow: 0 0 0 3px rgba(0, 81, 255);
}
