.board-list-item-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-list-item-top-image {
  width: 100%;
  height: 480px;
  background-image: url(assets/facetoface.jpg);
  background-size: 100% 100%;
  background-position: 50% 50%;
}

.board-list {
  width: 1200px;
}

.board-list-item {
  width: 1200px;
  height: 60px;

  background-color: rgba(151, 151, 151, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.board-list-item-main-box {
  width: 100%;
  display: flex;
  align-items: center;
}

.board-list-item-profile-image-box {
  margin-left: 50px;
  margin-top: 10px;
}

.board-list-item-profile-image {
  width: 40px;
  height: 40px;
  flex-shrink: 0;

  border-radius: 70px;
  border: 1px solid rgba(0, 0, 0, 1);
  background-image: url(assets/profile_user.png);
  background-size: 100% 100%;
  background-position: 50% 50%;
}

.board-list-item-title-box {
  margin-left: 39px;
  width: 526px;
  height: 28px;
}

.board-list-item-title {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.board-list-item-nickname-box {
  margin-left: 20px;
  width: 141px;
  height: 17px;
}

.board-list-item-nickname {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.board-list-item-write-datetime-box {
  margin-left: 20px;
  width: 55px;
  height: 19px;
}

.board-list-item-write-datetime {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.board-list-item-counts-box {
  margin-left: 193px;
  width: 20px;
  height: 20px;
  background-image: url(assets/user_counts.png);
  background-size: 100% 100%;
  background-position: 50% 50%;
}


.board-list-item-counts {
  margin-left: 28px;
  width: 33px;
  height: 20px;
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  align-items: center;
}