.SelectBox {
  width: 100%;
  height: 480px;
  flex-shrink: 0;



  background: rgba(217, 217, 217, 0.4);
}

.FTFBoard {
  width: 50%;
  height: 480px;
  flex-shrink: 0;
  border: 1px;
  float: left;
  outline: 1px solid #000000;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;


  background: rgba(217, 217, 217, 1);
}

.FTFBoard.hover {
    background-position: right;
}

.FTFBoardName {
  color: #000;
  font-family: Inter;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: 96px; /* 100% */


}

.Board {
  width: 50%;
  height: 480px;
  flex-shrink: 0;
  float: right;
  outline: 1px solid #000000;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;


  background: rgba(217, 217, 217, 1);
}

.BoardName {
  color: #000;
  font-family: Inter;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: 96px; /* 100% */

  
}