.MainPage-background-image {
  width: auto;
  height: 480px;
  flex-shrink: 0;

  background: url(../src/components/MainPage/assets/메인화면.jpg), lightgray 50% / cover no-repeat;
  background-size: 100% 100%;
}

.icon-button {

  border-radius: 50% 50%;

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}



.login-background-image {
  width: 100%;
  height: 1024px;
  
  display: flex;
  align-items: center;
  justify-content: center;


  background-image: url(../src/components/InputBox/assets/image/운동사진4.webp);
  background-repeat: repeat;
}


.eye-light-off-icon {
  width: 100%;
  height: 100%;

  background-position: 50% 50%;
  background-size: 50% 50%;

  background-image: url(../src/components/InputBox/assets/image/hidden_eye.png);
  background-repeat: no-repeat;
}

.eye-light-on-icon {
  width: 100%;
  height: 100%;


  background-position: 50% 50%;
  background-size: 50% 50%;

  background-image: url(../src/components/InputBox/assets/image/eye_find.png);
  background-repeat: no-repeat;
}

.main-icon {
  width: 100%;
  height: 100%;


  background-position: 50% 50%;
  background-size: 50% 50%;

  background-image: url(../src/components/InputBox/assets/image/main_icon.png);
  background-repeat: no-repeat;
}

.search-icon {
  width: 100%;
  height: 100%;


  background-position: 50% 50%;
  background-size: 50% 50%;

  background-image: url(../src/components/InputBox/assets/image/search_icon.png);
}

.margin20 {
  margin: 20px;
}

.vertical-divider-light-gray {
  height: 1px;

  background-color: rgba(0, 0, 0, 0.05);
}
