.inputbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
} 

.login-page { /* 중앙에 불투명한 창 */
  width: 418px;
  height: 710px;
  flex-shrink: 0;
  border-radius: 30px;


  background: rgba(255, 255, 255, 0.65);
  padding: 0 36px;

}

.membership{ /* 회원가입 글자 */
  font-family: Inter;
  font-size: 35px;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: justified;


}

.inputbox-label { /* 로그인, 비밀번호 등 input받는 공간. */
  color: #000000;

  font-size: 20px;
  font-weight: 400;
  line-height: 26px;

  margin: 0 auto;
}

.inputbox-container { /* 처음, 오류 없을때 보이는 것. */
  border-bottom: 1px solid #797979;
  width: 96.2%;
  height: 26px;
  padding: 11px 16px 11px 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.3);
  
}

 .inputbox-container-error { /* 오류 발생시 나오는 창. */
  border-bottom: 1px solid #FF0000;
  width: 96.2%;
  height: 26px;
  padding: 11px 16px 11px 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.3);
}

.input { /*창 안의 글자*/
  border: none; /*테두리 없애기*/
  background: none; /*배경 없애기*/
  outline: none; /*클릭시 테두리 없애기 */
 
  flex: 1;

  color: rgba(0, 0, 0, 1);

  font-size: 25px;
  font-weight: 400;
  line-height: 26px;
} */


.inputbox-message { /* 오류 발생시 창 밖의 글자 */
  color: #FF0000;

  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextpage {
  width: 418px;
  height: 50px;
  border-radius: 46px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(125deg,#000000,#7b7b7b,#000000);
  background-position: left;
  background-size: 200%;
  color:white;
  font-weight: bold;
  border:none;
  cursor:pointer;
  transition: 0.4s;
  
}

.nextpage:hover {
  background-position: right;
}